@mixin flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 100%;
}

@mixin flex-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
