$primary-color: #ffcd42;
$secondary-color: #6c6e72;
$dark-color: #1d1e22;
$light-color: #ffffff;

// icon sizes
$width-regular: 50px;
$width-light: 30px;
$width-tiny: 20px;

$font-stack: "Proxima", sans-serif;
$font-stack-2: "Poppins", sans-serif;

// Border
$radius: 10px;
$border-style: 1px solid #333;
